* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.display_bl {
  display: block;
}

.m_top_100 {
  margin-top: 100px;
}

.countdown {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  position: relative;
}

.tempo {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 3px solid red;
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quanti {
  width: 150px;
  height: 50px;
  border: 2px solid red;
  border-radius: 5px;
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
}

.quali {
  width: 150px;
  height: 50px;
  border: 2px solid red;
  border-radius: 5px;
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
}
